@model IEnumerable<Annu.Models.Product>

    <h2>Product Table</h2><br />
    <a asp-action="Create" asp-controller="Product" class="btn btn-outline-warning">Create</a><br />
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
            <th>Descriptions</th>
            <th>Action</th>
        </tr>
        @foreach (var prod in Model)
        {
            <tr>
                <td>@prod.Id</td>
                <td>@prod.Title</td>
                <td>@prod.Quantity</td>
                <td>@prod.Price</td>
                <td><img src="@prod.Image" height="60" width="60" /></td>
                <td>@prod.Description</td>
                <td>
                    <a asp-action="ProductDetails" asp-route-id="prod.Id" class="btn btn-success">View</a>
                    <a asp-page="" asp-route-ID=Id class="btn btn-danger">Delete</a>
                </td>
            </tr>

        }
    </table>
